asgiref==3.3.4
astroid
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
Django==3.2.4
et-xmlfile==1.0.1
gunicorn==20.1.0
idna==2.10
isort
jdcal==1.4.1
kiwisolver
lazy-object-proxy
matplotlib
mccabe==0.6.1
MouseInfo==0.1.3
numpy
olefile
openpyxl==3.0.5
pandas==1.2.0
Pillow
psycopg2-binary==2.8.6
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
pylint
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
python-dateutil==2.8.1
PyTweening==1.0.3
pytz
requests==2.25.1
rubicon-objc==0.4.0
six
sqlparse==0.4.1
toml
tornado
urllib3==1.26.4
whitenoise==5.2.0
wrapt
xlrd==2.0.1
